.App {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 1rem;
}

.App > * {
  border: 1px solid black;
}

nav {
  grid-column: 1/-1;
}

.ProductList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.counter {
  display: flex;
  gap: 1rem;
}
